html {
    font-family: 'Poppins';
    color: #acb4cc;
    background: #fff;
}
line{
    stroke: #f7f8fb;
}
text{
    fill: #acb4cc;
}

#container{
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    padding: 5em 3em 0em 3em;
    text-align: center;
}
#cryptoname{
    color: #223975;
    font-size: 3em;
    font-weight: bold;
}
#price{
    font-weight: 200;
    font-size: 4em;
    color: #495473;
}
#price::before{
    content: '$';
    font-size: 35pt;
}
#graph{
    padding-right: 50px;
    padding-left: 50px;
    height: 65%;
    display: block;
    margin: 0 auto;
}
#svgholder {
    margin: auto;
    bottom: 0;
}

.topbox{
    width: 315px;
    height: 175px;
    margin-bottom: 1em;
    display: inline-block;    
}
.ticker{
    padding-left: 20px;
    color: #d9dde9;
}
.domain{
    stroke: #f7f8fb;
    stroke-width: 3px;
    z-index: -1;
}
.tick{
    font-family: inherit;
}
.smoothline {
    fill: none;
    stroke: #acb4cc;
    stroke-width: 3px;
}
.floatr{
    float: right;
}
.floatl {
    float: left;
}
.ml50{
    margin-left: 50px;
}
.details{
    font-size: 2em;
}
.h10{
    height: 10em;
}


@keyframes greenFlash{
    from {color: #495473;}
    50% {color: #84ce95;}
    60% {color: #84ce95;}
    to {color: #495473;}
}
@keyframes redFlash{
    from {color: #495473;}
    50% {color: #f36330;}
    60% {color: #f36330;}
    to {color: #495473;}
}


@media screen and (max-width: 1024px) {

    #container {
        margin: 0 auto;
        overflow: hidden;
        height: 100%;
        padding: 1em;
    }
    #graph {
        margin: auto;
        padding: 2em;
        width: 90%;
    }
    .details{
        font-size: 1em;
    }
    .topbox {
        margin: 0 auto;
        width: 315px;
        height: 175px;
        margin-bottom: 1em;
        display: block;
        text-align: center;
        float: none !important;
    }
    .topbox:nth-of-type(2){
        height:50px;
    }
    .h10 {
        height: 20em;
    }


}